<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/jobOffer/jobOfferBase :: article(~{::article})}">
<article>
    <form th:action="@{/joboffers/get}" method="get" class="mb-3">
        <div class="input-group">
            <input type="number" name="id" class="form-control" placeholder="Search by Job Offer ID" required>
            <button type="submit" class="btn btn-primary">Search</button>
            <a th:href="@{/joboffers}" class="btn btn-secondary">Clear</a>
        </div>
    </form>
    <p th:if="${#lists.size(jobOffersList) == 0}">No job offers yet.</p>
    <table class="table table-striped" th:if="${#lists.size(jobOffersList) > 0}">
        <caption>List of companies (<span th:text="${#lists.size(jobOffersList)}"></span>)</caption>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Publication date</th>
            <th scope="col">Company name</th>
            <th scope="col">Qualification level</th>
            <th scope="col">Sectors</th>
            <th th:if="${session.usertype == 'company'}" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="job, iterStat : ${jobOffersList}">
            <td th:text="${job.id}"></td>
            <td th:text="${job.title}"></td>
            <td th:text="${job.description}"></td>
            <td th:text="${job.publicationdate}"></td>
            <td th:text="${job.company.name}"></td>
            <td th:text="${job.qualificationlevel.label}"></td>
            <td>
                <span th:each="sector : ${job.sectors}" th:text="${sector.label} + ${!iterStat.last ? ', ' : ''}"></span>
            </td>
            <td>
                <span>
                     <th:block th:if="${session.uid == job.company.appuser.id}">
                        <a th:href="@{'/joboffers/' + ${job.id} + '/applications'}" class="btn btn-info"
                           title="View candidates">
                            <i class="bi bi-eye"></i> View candidates
                        </a>
                        <a th:href="@{'/joboffers/' + ${job.id} + '/update'}" class="btn btn-warning"
                           title="Edit job offer">
                            <i class="bi bi-eye"></i> Edit
                        </a>
                        <form th:action="@{'/joboffers/' + ${job.id} + '/delete'}" method="post"
                              style="display:inline;">
                            <button class="btn btn-danger"
                                    title="Delete job offer">
                                <i class="bi bi-trash"></i> Delete
                            </button>
                        </form>
                    </th:block>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <footer>
        <div th:if="${session.usertype == 'company'}">
            <a href="/joboffers/create" class="btn btn-large btn-primary" title="add new job offer">
                <i class="bi bi-plus"></i>
            </a>
        </div>
    </footer>
</article>
</html>