<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/company/companyBase :: article(~{::article})}">
<article>
    <p th:if="${#lists.size(companieslist)} == 0">No company registered yet.</p>
    <table class="table table-striped" th:if="${#lists.size(companieslist)} > 0">
        <caption>List of companies (<span th:text="${companieslist.size}"></span>)</caption>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Mail</th>
            <th scope="col">Description</th>
            <th scope="col">City</th>
            <th scope="col">Nb. of offers</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comp : ${companieslist}">
            <td th:text="${comp.name}"/>
            <td th:text="${comp.appuser.mail}"/>
            <td th:text="${comp.description}"/>
            <td th:text="${comp.appuser.city}"/>
            <td th:text="${comp.jobOffers.size()}"/>
            <td>
                <div class="btn-group" role="group">
                    <a th:href="@{'/companies/' + ${comp.id}}" class="btn btn-large btn-secondary" title="View details">
                        <i class="bi bi-eye"></i> View
                    </a>
                    <th:block th:if="${appUser != null and appUser.id == comp.appuser.id}">
                        <a th:href="@{'/companies/' + ${comp.id} + '/update'}"
                           class="btn btn-large btn-success"
                           title="Edit company">
                            <i class="bi bi-pencil"></i> Edit
                        </a>
                        <form th:action="@{'/companies/' + ${comp.id} + '/delete'}" method="post">
                            <button class="btn btn-large btn-danger"
                                    title="Delete company">
                                <i class="bi bi-trash"></i> Delete
                            </button>
                        </form>
                    </th:block>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
    <footer>
        <!--<a th:href="@{companies/create}" class="btn btn-large btn-primary" title="add new company">
            <i class="bi bi-plus"></i>
        </a>-->

        <a href="/companies/create" class="btn btn-large btn-primary" title="add new company">
            <i class="bi bi-plus"></i>
        </a>

    </footer>
</article>

</html>