:root {
    --green-imt: rgb(179, 199, 71);
    --blue-imt: rgb(0, 183, 211);
    --dark-blue-imt: rgb(0, 32, 65);
}

html, body {
    height: 100%;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header_div {
    color: white;
    background-color: var(--dark-blue-imt);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#footer_div {
    margin-top: auto;
    color: white;
    background-color: var(--dark-blue-imt);
    padding: 10px 0;
    text-align: center;
}

#tiny_text {
    color: white;
    font-size: 6px;
}

#menu_div {
    background-color: lightgrey;
}

#content_div {
    background-color: white;
    flex: 1;
}

#central_div {
    padding: 10px;
    margin: 0 auto;
}

.logo {
    width: 30px;
    display: flex;
    align-items: center;
}

.minilogo {
    width: 15px;
    display: flex;
    align-items: center;
}

.widget_bar {
    margin: 0 auto;
}

.widget {
    float: left;
    margin: 5px;
    border-radius: 25px;
    border: 2px solid var(--green-imt);
    height: 200px;
    width: 200px;
}

.widget_title {
    text-align: center;
    color: var(--dark-blue-imt);
    font-size: 14px;
    font-weight: bolder;
    height: 20%;
}

.widget_button {
    height: 70%;
    margin: 0 auto;
}

.widget_button img {
    height: 90%;
}

.widget_info {
    color: grey;
    font-size: 10px;
    height: 10%;
    text-align: left;
    padding-left: 5px;
}