<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/baseTemplate/base :: layout(~{::title},~{::article})}">
<title>GetYourJob</title>
<article class="row justify-content-center text-danger">
    <header class="col-2">
        <h1>Messages</h1>
        <meta>
    </header>


    <!-- Job offer messages -->
    <!--TODO : changer la couleur du titre -->
    <h3 th:if="${session.usertype == 'company'}">
        Messages automatically sent to candidates
    </h3>
    <h3 th:if="${session.usertype == 'candidate'}">
        Messages automatically received
    </h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <!--Lister les messages reçus des entreprises pour une offre d’emploi-->
            <th>ID message</th>
            <th>Voir l'offre</th>
            <th>ID Application</th>
            <th>Reception date</th>
            <th>Message content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messagesJobOffer}">
            <td th:text="${message.id}"></td>
            <td>
                <form th:action="@{/applications/get}" method="get" class="mb-3">
                    <input type="hidden" name="id" th:value="${message.joboffer.id}" />
                    <button type="submit" class="btn btn-info">
                        <i class="bi bi-eye"></i> View
                    </button>
                </form>
            </td>
            <td th:text="${message.application.id}"></td>
            <td th:text="${message.date}"></td>
            <!--TODO : réduire le tableau menu déroulant ? -->
            <td><span style="white-space: pre-line" th:text="${message.message}"></span></td>
        </tr>
        </tbody>
    </table>


    <!-- Application messages -->
    <!--TODO : changer la couleur du titre -->
    <h3 th:if="${session.usertype == 'company'}">
        Messages automatically received
    </h3>
    <h3 th:if="${session.usertype == 'candidate'}">
        Messages automatically sent to companies
    </h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <!--Lister les messages reçus des entreprises pour une offre d’emploi-->
            <th>ID message</th>
            <th>Voir l'offre</th>
            <th>ID Application</th>
            <th>Reception date</th>
            <th>Message content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messagesApplication}">
            <td th:text="${message.id}"></td>
            <td>
                <form th:action="@{/applications/get}" method="get" class="mb-3">
                    <input type="hidden" name="id" th:value="${message.application.id}" />
                    <button type="submit" class="btn btn-info" th:title="View application with ID: [[${message.application.id}]]">
                        <i class="bi bi-eye"></i> View
                    </button>
                </form>
            </td>
            <td th:text="${message.joboffer.id}"></td>
            <td th:text="${message.date}"></td>
            <!--TODO : réduire le tableau menu déroulant ? -->
            <td><span style="white-space: pre-line" th:text="${message.message}"></span></td>
        </tr>
        </tbody>
    </table>
</article>
<footer>
</footer>
</html>