<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/applications/applicationsBase :: article(~{::article})}">
<head>
    <title>Job Offers</title>
</head>
<body>
<article>
    <h1>Job Offers for Application <span th:text="${application.id}"></span></h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Job Offer ID</th>
            <th>Job Title</th>
            <th>Company</th>
            <th>Sector</th>
            <th>Qualification Level</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jobOffer : ${jobOffers}">
            <td th:text="${jobOffer.id}">Job Offer ID</td>
            <td th:text="${jobOffer.title}">Job Title</td>
            <td th:text="${jobOffer.company.name}">Company</td>
            <td>
                <ul>
                    <li th:each="sector : ${jobOffer.sectors}" th:text="${sector.label}">Sector Name</li>
                </ul>
            </td>
            <td th:text="${jobOffer.qualificationlevel.label}">Qualification Level</td>
            <td th:text="${jobOffer.publicationdate}">Date</td>
            <td th:if="${user == 'entreprise'}">
                <a th:each="cand,iterStat : ${jobOffer.candidatures}"
                   th:text="${cand.candidat.firstname} + ' ' + ${cand.candidat.lastname} + ${!iterStat.last ? ', ' : ''}"
                   th:href="@{/candidates?id={id}(id=${cand.candidat.id})}">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</article>
</body>
</html>