<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/applications/applicationsBase :: article(~{::article})}">
<article>
    <header class="form-header">
        <h2>Application Entry Form</h2>
    </header>

    <form th:action="@{${action} == 'edit' ? '/applications/' + ${applications.id} + '/updateApplicationData' : '/applications/createApplicationData'}"
          method="post">
        <fieldset class="mb-3">
            <label for="qualificationLevel" class="form-label">Qualification Level</label>
            <select id="qualificationLevel" class="form-control" th:field="*{applications.qualificationlevel.id}">
                <option th:each="ql : ${qualificationLevel}" th:value="${ql.id}" th:text="${ql.label}"></option>
            </select>
        </fieldset>
        <fieldset class="mb-3">
            <label for="cv" class="form-label">CV</label>
            <textarea id="cv" class="form-control" th:field="*{applications.cv}" placeholder="CV"></textarea>
        </fieldset>
        <fieldset class="mb-3">
            <label for="sectors" class="form-label">Sectors</label>
            <div th:each="sector : ${sectors}" class="form-check">
                <input type="checkbox" th:id="'sector_' + ${sector.id}" th:name="selectedSectors"
                       th:value="${sector.id}" class="form-check-input">
                <label th:for="'sector_' + ${sector.id}" class="form-check-label" th:text="${sector.label}"></label>
            </div>
        </fieldset>
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary" th:title="${action == 'edit' ? 'Update' : 'Create'}"><i
                    class="bi bi-floppy"></i> Submit
            </button>
            <button type="reset" class="btn btn-secondary" value="Reset" title="reset"><i class="bi bi-eraser-fill"></i>
                Reset
            </button>
            <a th:href="@{/applications}" class="btn btn-danger" title="go back"><i class="bi bi-x-square"></i>
                Cancel</a>
        </div>
    </form>
</article>
</html>