<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/applications/applicationsBase :: article(~{::article})}">
<article>
    <h1>Applications</h1>
    <form th:action="@{/applications/get}" method="get" class="mb-3">
        <div class="input-group">
            <input type="number" name="id" class="form-control" placeholder="Search by Application ID" required>
            <button type="submit" class="btn btn-primary">Search</button>
            <a th:href="@{/applications}" class="btn btn-secondary">Clear</a>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Application ID</th>
            <th>Candidate name</th>
            <th>Application Date</th>
            <th>Qualification Level</th>
            <th>CV</th>
            <th>Sectors</th>
            <th th:if="${session.usertype}=='candidate'">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="applications : ${applicationslist}">
            <td th:text="${applications.id}">Application ID</td>
            <td th:text="${applications.candidate.firstname}">Candidate name</td>
            <td th:text="${#dates.format(applications.applicationdate, 'dd/MM/yyyy')}"></td>
            <td th:text="${applications.qualificationlevel.label}">Qualification Level</td>
            <td th:text="${applications.cv}">CV</td>
            <td>
                <ul>
                    <li th:each="sector : ${applications.sectors}" th:text="${sector.label}">Sector</li>
                </ul>
            </td>
            <td>
                <th:block th:if="${#ctx.session.uid} == application.candidate.appuser.id">
                    <a th:href="@{'/applications/' + ${applications.id} + '/jobOffers'}" class="btn btn-info"
                       title="View Job Offers">
                        <i class="bi bi-briefcase"></i> View Job Offers
                    </a>
                    <a th:href="@{'/applications/' + ${applications.id} + '/update'}" class="btn btn-warning"
                       title="Update">
                        <i class="bi bi-pencil"></i> Update
                    </a>
                    <form th:action="@{'/applications/remove'}" method="post" style="display:inline;">
                        <input type="hidden" name="id" th:value="${applications.id}"/>
                        <button type="submit" class="btn btn-danger" title="Delete">
                            <i class="bi bi-trash"></i> Delete
                        </button>
                    </form>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${session.usertype == 'candidate'}">
        <a th:href="@{/applications/create}" class="btn btn-primary">Create New Application</a>
    </div>
</article>
</html>